div.gallery {
    margin: 0.25%;
    border: 1.0px solid #1a0000;
    float: left;
    width: 24%;
    height: 220px;
    border-radius: 0.5rem;
    background-color: #d9d9d9;  /* #e6e6e6; */
    color: #005780;
}

div.gallery:hover {
    border: 1px solid #777;
    background-color: white;
    color: #005780;
}

div.gallery img {
    
    width: 90%;
    height: auto%;
}

div.desc {
    padding: 1px;
    text-align: center;
}
