div.gallery {
    margin: 0.5%;
    border: 1.0px solid #1a0000;
    float: left; 
    width: 23%;
    height: auto;
    border-radius: 0.5rem;
    background-color: #d9d9d9;  /* #e6e6e6; */
    color: #005780;
    box-shadow: 4px 4px;
}

div.gallery:hover {
    border: 1px solid #777;
    background-color: white;
    color: #005780;
    font-weight: bold;
}

div.gallery img {
    
    width: 100%;
    height: auto%;
}

div.desc {
    padding: 1px;
    text-align: center;
    margin-bottom: 1px;
}
