<template name='signup'>
  <div class="container">
    <form id="signup">
      <div class="header">
        <h3>Sign Up</h3>
        <!-- <p>You want to fill out this form</p>  -->
      </div>
      <div class="sep"></div>
      <div class="inputs">
        <input id="su-email" type="email" placeholder="e-mail" autofocus />
        <input id="su-username" type="text" placeholder="UserName" />
        <div class="checkboxy">
           <!-- <input name="cecky" id="checky" value="1" type="checkbox" /> -->
           <label class="terms">I am ready to join the intellects (Encyclopedic Brain)</label>
        </div>
        <a id="sign_up" href="#">SIGN UP</a>
      </div>
    </form>
  </div>
</template>

<template name='logout'>
  <div class="container">
    <form id="logout-form">
        ({{ currentUser.username }})
        <a id="logout" href="#"><h3>Log Out</h3></a>
    </form>
  </div>
</template>

<template name='change_password'>
  <div class="container">
    <form id="changePasswordForm">
      <div class="header">
        <h3> Change Password </h3>
      </div>
      <div class="inputs">
        <input type='password' id='new-password' placeholder='New Password' />
        <input type='password' id='confirm-password' placeholder='Confirm New Password' />
        <button id="change_password" name="{{ currentUser.username }}">Submit</button>
      </div>
    </form>
  </div>
</template>

<template name='login'>
  <div class="container">
    <form id="loginForm">
      <div class="header">
        <h3> Log In </h3>
      </div>
      <div class="inputs">
        <input type='text' id='li-username' placeholder='Username' autofocus />
        <a id="reset_password" href="#"><div style="padding-bottom: 8px;">Forgot Password?</div></a>
        <input type='password' id='li-password' placeholder='Password' />
        <a id="login" href="#">Log In</a>
      </div>
      <div class="sep" style="margin-top: 10px;"></div>
    <div style="margin-top: 25px; width: 100%;">
       <a id="login-signup" href="#"><div style="margin-top: 10px">New User?  Sign Up</div></a>
    </div>

    </form>
  </div>
</template>

<template name='signupLogin'>
<div id='login'>
    <!-- Parameters: component, (valid actions: 'create', 'join', 'add', 'watch'  -->
    {{#if loggingIn}}
        Logging in . . .
    {{else}}
        {{#if currentUser}}
            {{#if reactComponent 'create' component }} {{> create}} {{/if}}
            {{#if reactComponent 'add' component }} {{> add}} {{/if}}
            {{#if reactComponent 'join' component }} {{> join}} {{/if}}
            {{#if reactComponent 'watch' component }} {{> watch}} {{/if}}
        {{else}}
            {{> signIn }}
        {{/if}}
    {{/if}}
</div>
</template>

<template name='signIn'>
<div id='signIn'>
    {{#if loggingIn}}
        Logging in . . .
    {{else}}
        {{#if currentUser}}
            {{> logout}}
            {{> change_password }}
            <hr>
        {{else}}
            {{> login }}
        {{/if}}
    {{/if}}
</div>
</template>

<template name='create'>
  <p>Create Game Component</p>
  <div>
   {{> React component=createGame 
             currentUser=currentUser
   }}
  </div>
</template>

<template name='join'>
  <div>
   {{> React component=joinGame 
             currentUser=currentUser
   }}
  </div>
</template>

<template name='add'>
  <div>
   {{> React component=addPlayer 
             currentUser=currentUser
   }}
  </div>
</template>

<template name='watch'>
  <div>
   {{> React component=watchGame 
             currentUser=currentUser
   }}
  </div>
</template>


